* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0f172a;
    color: white;
}


/* Navbar */

nav {
    display: flex;
    justify-content: space-between;
    background: #020617;
    padding: 15px 50px;
    position: fixed;
    width: 100%;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}


/* Hero */

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero button {
    padding: 10px 20px;
    background: #3b82f6;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}


/* Sections */

section {
    padding: 80px 50px;
    text-align: center;
}


/* Projects */

.project-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: #1e293b;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
    background: #334155;
}


/* Resume button */

.resume-btn {
    padding: 15px 30px;
    background: #22c55e;
    border: none;
    color: white;
    cursor: pointer;
}


/* Footer */

footer {
    background: black;
    padding: 20px;
    text-align: center;
}